body {
    background: rgb(241, 192, 221);
}

.container {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: rgb(236, 234, 234);
    text-shadow: rgb(221, 46, 46) 0 8px;
    ;
}

.centered {
    position: absolute;
    left: 65%;
    top: 80%;
}

h1 {
    animation: name 5s infinite alternate both;
}

@keyframes name {
    from {
        margin-left: 0%;
        width: 20%;
    }

    to {
        margin-left: 100%;
        width: 220%;
    }
}